* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.stories {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 1.5rem;
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    gap: 5px;
    overflow-x: auto;
}
.stories::-webkit-scrollbar{
    display: none;
}
.story{
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 10000px;
    border: 2px solid rgb(246, 0, 41);
    overflow: hidden;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.content{
    width: 90%;
    height: calc(100% - 100px);
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
}
.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}