*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    /* height: 450px; */
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    position: relative;
    cursor: pointer;
}
img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: top;
    border-radius: inherit;
}
.name{
    font-size: 24px;
    font-weight: 500;
}
i{
    position: absolute;
    color: whtie;
    font-size: 80px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(.5) rotate(-40deg);
    color: transparent;
    background: linear-gradient(to right top,#FFC879,#FC7173,#E64A8B,#8159CE);
    background-clip: text;
    transition: all ease-out .4s;
}