*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h4{
    font-size: 20px;
    color: black;
    text-align: center;
}
h4 span{
    color: purple;
}

.download-box{
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background-color: #dadada;
    overflow: hidden;
    position: relative;
}
.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
    transition: width .3s ease-out ;
    will-change: width;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.percent{
    font-size: 30px;
    font-weight: 600;
}
button{
    padding: .4rem 1rem;
    color: white;
    background-color: green;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 3px;
}
.hidden{
    opacity: 0;
}