* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.stage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.particle {
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: fade 700ms ease-out forwards;
    
}

@keyframes fade {
    from {
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }

    to {
        filter: blur(1px);
        opacity: 0;
        scale: .3;
    }
}