* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d0d2d2;
}

#insta-box {
    width: 300px;
    height: 400px;
    background-color: white;
    position: relative;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transform: scale(.7);
    opacity: 0;
    transition: all ease .5s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all ease-in-out .25s;
}