* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
    background-color: #111;
    padding: 20px;
    overflow: hidden;
}

.reels {
    width: 90%;
    max-width: 320px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}
.reels::-webkit-scrollbar{
    display: none;
}

.reel {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel .user-details {
    position: absolute;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.817));
    z-index: 10;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-details .top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-details .top img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    background-color: black;
}

.user-details .top .username {
    font-weight: 500;
    font-size: .8rem;
}

.user-details .top button {
    background-color: transparent;
    color: white;
    padding: 2px 6px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1.5px solid white;
}

.user-details .caption {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.943);
    line-height: 1.1;
    user-select: none;
}
.side-bar{
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    right: 0;
    top: 0;
    padding-bottom: 50px;
    height: 100%;
    z-index: 20;
}
.side-bar h6{
    color: white;
    font-weight: 400;
    font-size: 11px;
}
.side-bar i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: scale linear .2s;
    font-weight: 200;
}
.side-bar i:hover{
    scale: 1.1;
}
.side-bar .box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.side-bar .box #more-icon{
    transform:  rotate(90deg);
}