* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #222;
    color: white;
    position: relative;
}

.elem {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    position: relative;
}

h1 {
    font-size: clamp(40px, 10vw, 70px);
    position: relative;
    z-index: 100;
    mix-blend-mode: difference;
    pointer-events: none;
}

img {
    width: clamp(80px, 25vw, 120px);
    height: clamp(80px, 25vw, 120px);
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%,-50%);
    transition: all linear .2s;
    opacity: 0;
}