* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: .5rem 1rem;
    border-radius: 3px;
    background-color: lime;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
    z-index: 10;
}
h2{
    position: absolute;
    font-weight: 500;
}