* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.dice {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.shake {
    will-change: transform;
    animation: rollEffect 1s ease-in-out;
}

@keyframes rollEffect {
    0% {
        transform: rotateZ(-10deg);
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px) rotateZ(10deg) scale(1.05);
    }

    50% {
        transform: translateX(-10px) rotateZ(-10deg);
    }

    75% {
        transform: translateX(5px) rotateZ(5deg) scale(1.1);
    }

    100% {
        transform: translateX(0px) rotateZ(0deg) scale(1);
    }

}

button {
    padding: .5rem 1rem;
    border: none;
    background-color: limegreen;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}