*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    /* height: 100%; */
    background-color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    padding-inline: 50px;
}
.card{
    width: 300px;
    height: 330px;
    max-height: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    background-color: red;
}
.name{
    font-weight: 600;
    font-size: 24px;
}
.description{
    font-size: 14px;
}
h5{
    font-size: 18px;
    font-weight: 500;
}
.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}
li{
    font-size: 12px;
    border: 1px solid;
    padding: .2rem .6rem;
    border-radius: 50px;
}