*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 300px;
    padding: 1rem;
    border: 1px solid;
    border-radius: .7rem;
    background-color: rgba(135, 207, 235, 0.203);
}
.user{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
}
.name{
    font-size: 1.5rem;
}
.status{
    font-size: 1rem;
}
button{
    padding: .5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: .5rem;
}